---
title: Schedule
---

<h1>Schedule</h1>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Opening Remarks</h2>
    <h3>Chris Aniszczyk</h3>
  </div>
  <div class="col-2">
    <p class="lead">6a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">9a ET</p>
  </div>
  <div class="col-2">
    <p class="lead">3p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>SIG-Wellness & “SIG-Culture”</h2>
    <h3>Mark Coleman and Stephen Augustus <br>moderated by Ariel Jatib</h3>
  </div>
  <div class="col-2">
    <p class="lead">6:20a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">9:20a ET</p>
  </div>
  <div class="col-2">
    <p class="lead">3:20p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>TUF & FluentD</h2>
    <h3>Justin Cappos & Eduardo Silva <br> moderated by Priyanka Sharma</h3>
  </div>
  <div class="col-2">
    <p class="lead">7a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">10a ET</p>
  </div>
  <div class="col-2">
    <p class="lead">4p CET</p>
  </div>
</div>

<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2>BREAKOUT SESSIONS</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Prometheus & Jaeger</h2>
    <h3>Ben Kochie & Yuri Shkuro <br> moderated by Michael Friedrich </h3>
  </div>
  <div class="col-2">
    <p class="lead">8:15a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">11:15a ET</p>
  </div>
  <div class="col-2">
    <p class="lead">5:15p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>CoreDNS & containerd </h2>
    <h3>John Belameric & Phil Estes</h3>
  </div>
  <div class="col-2">
    <p class="lead">9a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">12p ET</p>
  </div>
  <div class="col-2">
    <p class="lead">6p CET</p>
  </div>
</div>

<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2>BREAKOUT SESSIONS</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Kubernetes & Vitess</h2>
    <h3>Max Koerbaecher & Sugu Sougoumarane </h3>
  </div>
  <div class="col-2">
    <p class="lead">10:15a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">1:15p ET</p>
  </div>
  <div class="col-2">
    <p class="lead">7:15p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>SIGs : Conttributing, why and how</h2>
    <h3>Taylor Dolezal, Puja Abbassi, Stephen Augustus <br> moderated by Ariel Jatib</h3>
  </div>
  <div class="col-2">
    <p class="lead">10:15a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">1:15p ET</p>
  </div>
  <div class="col-2">
    <p class="lead">7:15p CET</p>
  </div>
</div>

<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2>BREAKOUT SESSIONS</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>TBA</h2>
    <h3>TBA</h3>
  </div>
  <div class="col-2">
    <p class="lead">12:15a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">3:15p ET</p>
  </div>
  <div class="col-2">
    <p class="lead">9:15p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Envoy & FLuentd</h2>
    <h3>Matt Klein & Eduardo Silva <br> moderated by Marco Palladino</h3>
  </div>
  <div class="col-2">
    <p class="lead">12:45a PT</p>
  </div>
  <div class="col-2">
    <p class="lead">3:45p ET</p>
  </div>
  <div class="col-2">
    <p class="lead">9:45p CET</p>
  </div>
</div>


  <!--  <a id="sched-embed" href="//cloudnativesummitonline2020.sched.com/">View the Cloud Native Summit Online schedule &amp; directory.</a><script type="text/javascript" src="//cloudnativesummitonline2020.sched.com/js/embed.js"></script> -->
                
