---
title: Speakers
---


                <h4 class="display-4">Speakers and Moderators</h4>
                 <p class="lead" >
                    Adding speakers as they are confirmed!
                </p>
                
                <div>
                    <div class="row">
                      <%= speakers %>
                    </div>
                
                
                </div>
                
